/*--------------------------------------------------------------
Eric Meyer's CSS Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------------------------------------------------------------
fonts
--------------------------------------------------------------*/
@font-face {
	font-family: 'Big-Shoulders-Text';
	src: url("../fonts/BigShouldersText-Black.ttf") format("truetype");
	font-style: bold;
	font-weight: bold;
	}
@font-face {
	font-family: 'Roboto-Bold';
	src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
	font-style: bold;
	font-weight: bold;
	}
@font-face {
	font-family: 'Roboto-Regular';
	src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	}

@font-face {
	font-family: 'Consolas';
	src: url("../fonts/Consolas/consolas.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	}
	
/*--------------------------------------------------------------
basic setting
--------------------------------------------------------------*/
body{
	font: 16px Roboto-Regular;
	color: #222222;
	line-height: 24px;

	background: url(../images/background3.svg) no-repeat center bottom fixed;
	background-color: #f8f8f8;
	background-size: 100%
}
p{
	margin-bottom: 15px;
}
h1 {
	font: 35px Roboto-Bold;
	margin-bottom: 15px;
}
h2{
	font: 20px Roboto-Bold;
	margin-bottom: 15px;
}
h3{
	font: 18px Roboto-Bold;
	margin-bottom: 10px;
}

img{
	background-size: 100% auto;
	height: 100%;
}
ol, ul {
	padding-left: 25px;
}
u{
	color: #f8f8f8;
}
strong{
	font: 16px Roboto-Bold;
}

button{
	background-color: #222222;
    border: none;
    color: #f8f8f8;
	padding: 10px 24px;
	margin: 5px;
	border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	-webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
	box-shadow: 0 8px 16px 0 rgba(46,46,46,0.2), 0 6px 20px 0 rgba(46,46,46,0.19);
}

button:hover {
    color: #f8f8f8;
	box-shadow: 0 12px 16px 0 rgba(46,46,46,0.24), 0 17px 50px 0 rgba(46,46,46,0.19);
	
}

textarea{
	background-color: #535353;
	color: #f8f8f8;
}

iframe{
    height: auto;
    width: auto;
    margin-bottom: 25px;
}

th,td{
	padding-left: 15px;
	border-bottom: 1px solid #f8f8f8;
}

table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border: 3px solid #222222;
	color: #f8f8f8;
  }
  
  thead th, tfoot th, tfoot td {
	background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
	border: 3px solid #222222;
  }
  
  table {
	background-color: #222222;
	margin-bottom: 25px;
  }

  tr td:nth-child(2) {
	border-left: 1px solid #f8f8f8;
	border-right: 1px solid #f8f8f8;
  }
  .drawing__mobile img{
  	height: 420px;
  	width: 100%;
  }

  a{
	color: #222222;
  }
  a:hover{
	color: #f8f8f8;

  }
/*--------------------------------------------------------------
layout
--------------------------------------------------------------*/
.layout{
	display: grid;
    grid-template-rows:
    [RowsStart]
	30px
	[Header]
	60px
	[Main]
	1fr
	[MainEnd]
	30px
	[Footer]
	60px
	[FooterEnd]
	30px
	[RowsEnd];

    grid-template-columns:
	[ColStart]
	1fr
	[PaddingLeft]
	10px
	[MainLeft]
	minmax(290px,1000px)
	[MainRight]
	10px
	[PaddingRight]
	1fr
	[ColEnd];
}

header{
    display: grid;
	grid-row: Header / Main;
    grid-column: ColStart / ColEnd;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
}
.header-inner{
    display: grid;
	grid-row: Header / Main;
	grid-column: MainLeft / MainRight;
}
main{
	height: 100%;
	width: 100%;
    display: grid;
    grid-row: Main / MainEnd;
    grid-column: MainLeft / MainRight;
	grid-template-rows: subgrid;
    grid-template-columns: subgrid;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer{
    display: grid;
    grid-row: Footer / FooterEnd;
    grid-column: ColStart / ColEnd;
	grid-template-rows: subgrid;
    grid-template-columns: subgrid;
}
.footer-inner{
	height: 100%;
    display: grid;
	grid-row: Footer / FooterEnd;
	grid-column: MainLeft / MainRight;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*inherit to pin footer*/
body,html{
		height: 100%;
		width: 100%;
	}

/*--------------------------------------------------------------
header
--------------------------------------------------------------*/
header{
	background: #f3a505;
	position: sticky;
	top: 0;
	z-index: 1;
}
.header-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo a{
	font: 50px Big-Shoulders-Text;
	color: #222222 !important;
	text-decoration: none;
}
.logo__second{color:#f8f8f8}

.search {
	display: flex;
	background-color: #222222;
	height: 35px;
	border-radius: 35px;
	margin-left: 25px;
}

.search__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f8f8f8;
	width: 55px;
	height: 35px;
	border-radius: 50%;
	background-color: #222222;
	text-decoration: none;
	outline: none;
	border: 0 !important;
	padding: 0px 0px;
	margin: 0px;
}

.search__text {
	border: none;
	outline: none;
	background: none;
	padding: 0;
	color: #f8f8f8;
	font-size: 16px;
	transition: .4s;
	line-height: 35px;
	width: 0;
}

.search:hover .search__text {
	width: 160px;
	padding: 0 6px;
}

.search:hover .search__btn {
	background-color: #222222;
}

.search__btn svg{
	fill: #f8f8f8;
}

.search__btn:hover svg{
	fill: #a1c1c8;
}

/*--------------------------------------------------------------
nav
--------------------------------------------------------------*/
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav li{
	display: inline-flex;
	align-items: center;
	margin-left: 15px;
}
/*Effect. navbar move line */
nav li a{
    background-image: linear-gradient(#f8f8f8, #f8f8f8);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
	transition: background-size .4s;
	padding: 5px;
	text-decoration: none;
	color: #222222 !important;
}
nav li a:hover {
	background-size: 100% 3px;
	color: #f8f8f8;
}
/*--------------------------------------------------------------
progress-bar
--------------------------------------------------------------*/
.progress-container {
	width: 100%;
	height: 5px;
	background: #f8f8f8;
	position: sticky;
	top: 100px;
	z-index: 1;
  }
  .progress-bar {
	height: 5px;
	background: #222222;
	width: 0%;
  }
/*--------------------------------------------------------------
main
--------------------------------------------------------------*/
main{
	background: #a1c1c880;
	border-radius: 8px 8px 8px 8px;
}
.article-column{
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
	height: 100%;
	width: 100%;
}
article{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 50px;
	background-color: #9DA6A7;
	padding: 20px;
	border-radius: 8px 8px 8px 8px;
}
.article__info {
	margin-bottom: 5px;
}
.preview{
	display: flex;
	justify-content: space-between;
}
.preview-story{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.preview-story__text{
	width: 100%;
	padding-left: 20px;
}
.article__read{
	height: 25px;
	text-align: right;
}
.article__read a {
	text-decoration: none;
	color: #222222 !important;
}

.article__read a h2:hover {
	font: 22px Roboto-Bold;
}

.pagination{
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.pagination a {
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	background-color: #f8f8f8;
	transition: background-color .3s;
	border: 1px solid #222222;
	margin: 0 4px;
  }

.pagination a.active_nav {
	background-color: #a1c1c8;
  }

.pagination li {
	list-style-type: none;
  }
  
.pagination a.active_number {
	background-color: #222222;
	color: #f8f8f8;
	border: 1px solid #222222;
  }
  
.pagination a:hover:not(.active_number) {
	background-color: #a1c1c8;
}
/*--------------------------------------------------------------
footer
--------------------------------------------------------------*/
footer{
	background: #f3a505;
}
.footer-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo-inverted{
	font: 50px Big-Shoulders-Text;
	text-decoration: none;
	color: #f8f8f8 !important;
}
.logo-inverted__second{color: #222222}

/*--------------------------------------------------------------
archive
--------------------------------------------------------------*/
.archive{
	width: 100%;
	background-color: #9DA6A7;
	border-radius: 8px 8px 8px 8px;
}

.archive__sort{
	display: flex;
}
.archive-block{
	display: flex;
	flex-direction: column;
}
.archive-list{
	display: flex;
	flex-direction: row;
}
.archive-block__year{
	margin-top: 40px;
}

.archive-list__date{
	width: 20%;
}
.archive-list__article{
	width: 80%;
}


.archive-list__article a{
	text-decoration: none;
}

@media screen and (min-width : 300px) and (max-width : 900px){
	body{
		background: none;
		background-color: #f8f8f8;
	}
	main{
		background: none;
	}
	article{
		margin-top: 40px;
		margin-left: 0px;
		margin-right: 0px;
		padding: 20px;
		border-bottom-width: 2px;
		border-bottom-style: solid;
    	border-bottom-color:#222222;
		border-radius: 0px 0px 0px 0px;
	}
}

@media screen and (min-width : 300px) and (max-width : 800px){
	body{
		background: none;
		background-color: #f8f8f8;
	}
	main{
		background: none;
	}
	.layout{
		display: grid;
		grid-template-rows:
		[RowsStart]
		10px
		[Header]
		100px
		[Main]
		1fr
		[MainEnd]
		30px
		[Footer]
		60px
		[FooterEnd]
		30px
		[RowsEnd];
	}
	.header-top{
		display: flex;
		flex-direction: column;
	}
	.header-bar{
		margin-top: 5px;
	}
	.article__header{
		display: flex;
		justify-content: center;
	}
	.preview{
		display: flex;
		flex-direction: column;
	}
	.preview-story__text{
		padding-left: 0px;
		margin-top: 10px;
	}
	.drawing iframe{
		width: 250px;
	}
	.iframe-container{
		display: none;
	  }

	nav ul {
		padding-left: 5px;
	  }
	.search:hover .search__text {
		width: 120px;
	}
}


/*--------------------------------------------------------------
Content design
--------------------------------------------------------------*/

.content{
	margin-top: 5px;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #9DA6A7;
	border-radius: 8px 8px 8px 8px;
	padding: 15px;
}

.content__phrase{
	border-bottom: thick double #222222;
	margin-bottom: 15px;
}

.content__body{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.content-img{
	width: 100%; 
	overflow:hidden;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.content-img img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}


.scroll-block {
	width: 90%; /* ширина нашего блока */
	background: #fff; /* цвет фона, белый */
	border: 1px solid #C1C1C1; /* размер и цвет границы блока */
	overflow-x: scroll; /* прокрутка по горизонтали */
	overflow-y: scroll; /* прокрутка по вертикали */
	padding-left: 20px;
	}

.code-block{
	background-color: #222222;
	color: #f8f8f8;
	font: 16px Consolas;
	line-height: 18px;
}
.content__body p{
	margin-bottom: 10px;
}

.p-near{
	margin-bottom: 0px;
	color: #3074a0;
}
.bold{
	font: 16px Roboto-Bold;
	color: #222222;	
}

.caesar-cipher{
	margin-bottom: 25px;
}

.drawing{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.iframe-container iframe{
	width: 640px;
	height: 480px;
}


.video-block {
    margin-bottom: 25px;
    width: 100%;
    height: auto;
    max-height: 100%;
    position: relative;
    padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
    height: 0;
    overflow: hidden;
  }
  .video-block iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
  }

  /*--------------------------------------------------------------
image
--------------------------------------------------------------*/

.image__container{
	width: 100%;
	display: flex;
	justify-content: center;
}

.imgcount_3 img{
	width: 31%;
}
.imgcount_4 img{
	width: 23.75%;
}
.imgcount_5 img{
	width: 19%;
}
.imgcount_6 img{
	width: 15.8%;
}
.imgcount_7 img{
	width: 13.5%;
}
/* картинка на странице */
.minimized {
	width: 300px;
	cursor: pointer;
	border: 1px solid #FFF;
  }
  .minimized:hover {
	border: 1px solid #19334d;
  }
  /* увеличенная картинка */
  #magnify {
	display: none;
	/* position: absolute; upd: 24.10.2016 */
	position: fixed;
	max-width: 600px;
	height: auto;
	z-index: 9999;
  }
  #magnify img {
	width: 100%;
  }
  /* затемняющий фон */
  #overlay {
	display: none;
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	z-index: 9990;
  }
  /* кнопка закрытия */
  #close-popup {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	cursor: pointer;
	position: absolute;
	top: 15px;
	right: 15px;
  }
  #close-popup i {
	width: 30px;
	height: 30px;
	background: url(../images/icon/close.svg) no-repeat center center;
	background-size: 30px 30px;
	display: block;
  }
  
  @keyframes myAnim {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.4);
	}
}
  #close-popup:hover {
	animation: myAnim 0.5s ease 0s 1 normal forwards;
  }