{% extends 'blog/base.html' %}
{% block content %} <div class="content">
                        <div class="content__title">
                            <h1>Архив</h1>
                        </div>
                        <div class="content__phrase">
                            <h2>({{object_sort}})</h2>
                        </div>
                        <div class="content__body">
                            <div class="archive__sort">
                                <div>
                                    Сортировка:&nbsp;
                                </div>
                                <div>
                                    /
                                    {% for menu in menu_sort %}
                                        {% if menu.active %}
                                            <a href="{% url menu.url %}"><u>{{menu.title}}</u></a>
                                        {% else %}
                                            <a href="{% url menu.url %}">{{menu.title}}</a>
                                        {% endif %}
                                    {% endfor %}
                                    /
                                 </div>
                            </div>
                        </div>
                        <div class="archive__sort-list">
                            {{name_sort}}
                            /
                            {% for list in list_sort %}
                                {% if list.name == object_sort %}
                                    <a href="{{list.get_absolute_url}}"><u>{{list.name}}</u></a>
                                {% else %}
                                    <a href="{{list.get_absolute_url}}">{{list.name}}</a>
                                {% endif %}
                            {% endfor %}
                            /
                        </div>
                        <div class="archive-block">
                            <div class="archive-block__year">
                                {% for i in year_list %}
                                    <h1>{{i.year}}</h1>
                                    {% for a in  article %}
                                        {% if a.created.year == i.year%}
                                            <div class="archive-list">
                                                <div class="archive-list__date">
                                                    {{a.get_month_inwords}}
                                                </div>
                                                <div class="archive-list__article">
                                                    <a href="{{a.get_absolute_url}}"><h2>{{a.category}} {{a.title}}</h2></a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
{% endblock %}