{% load static %}
<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
        <meta name="keywords" content="" />
        <meta name="description" content="Привет! Этот блог создан в большей степени для себя, чтобы записывать и сохранять разную информацию, инструкции, проекты и опыт." />
        <meta name="robots" content="all"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Author" content="Большаков Владимир">
        <meta name="Copyright" content="Большаков Владимир">
        <title>Bolshakovky.ru</title>

        
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'blog/images/Favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'blog/images/Favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'blog/images/Favicon/favicon-16x16.png' %}">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

        <link href="{% static 'blog/CSS/style.css' %}" rel="stylesheet">
        <script src="{% static 'blog/JS/progress-bar.js' %}"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script type="text/javascript" src="/static/blog/JS/litezoom.js"></script>
    </head>

    <body>
        <div class="layout">
            <header>
                <div class="header-inner">
                    <div class="header-top">
                        <div class="logo">
                            <a href="{% url 'home' %}">
                                <span>BOLSHAKOV</span><span class="logo__second">SKY</span>
                            </a>
                        </div>
                        <nav>
                            <ul>
                                <li>
                                    <a href="{% url 'archive' %}">
                                        <span>Архив</span>
                                    </a>
                                </li>
                            </ul>
                            <form class="search" action="{% url 'home' %}">
                                <input type="text" class="search__text" placeholder="Поиск" name='search'>
                                <button class="search__btn" type="submit">
                                    <svg version="1.1" id="search-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="27px" height="27px" viewBox="0 0 612.08 612.08" xml:space="preserve">
                                        <g><path d="M237.927,0C106.555,0,0.035,106.52,0.035,237.893c0,131.373,106.52,237.893,237.893,237.893
                                            c50.518,0,97.368-15.757,135.879-42.597l0.028-0.028l176.432,176.433c3.274,3.274,8.48,3.358,11.839,0l47.551-47.551
                                            c3.274-3.274,3.106-8.703-0.028-11.838L433.223,373.8c26.84-38.539,42.597-85.39,42.597-135.907C475.82,106.52,369.3,0,237.927,0z
                                            M237.927,419.811c-100.475,0-181.918-81.443-181.918-181.918S137.453,55.975,237.927,55.975s181.918,81.443,181.918,181.918
                                            S338.402,419.811,237.927,419.811z"/></g>
                                    </svg>
                                </button>
                            </form>
                        </nav>
                    </div>
                    <div class="header-bar">
                        <div class="progress-container">
                            <div class="progress-bar" id="myBar"></div>
                        </div>
                    </div>
                </div>

            </header>

            <main>
                {% block content %}
                {% endblock %}
            </main>
            <footer>
                <div class="footer-inner">
                    <a class="" href="#">
                        
                    </a>
                    <a class="logo-inverted" href="{% url 'home' %}">
                        <span>BOLSHAKOV</span><span class="logo-inverted__second">SKY</span>
                    </a>
                </div>
            </footer>

        </div>
    </body>
</html>