{% extends 'blog/base.html' %}
{% block content %}
                <div class="article-column">
                    {% for a in page_obj%}
                    <article>
                        <div class="article__header">
                            <h1><a href="{{a.category.get_absolute_url}}">{{a.category}}</a> {{a.title}}</h1>
                        </div>
                        <div class="article__story">
                            <h2>{{a.phrase}}</h2>
                        </div>
                        <div class="article__info">
                            {{a.created}} /
                            {% for t in a.tags.all %}
                                <a href="{{t.get_absolute_url}}">{{t.name}}</a>
                            {% endfor %}/
                        </div>
                        <div class="preview">
                            <div class="preview__img">
                                {% if a.preview_img %}
                                    <img src="{{a.preview_img.url}}" height="244" width="326" alt="">
                                {% endif %}
                            </div>
                            <div class="preview-story">
                                <div class="preview-story__text">
                                    {%if a.preview_text == ""%}
                                        {{a.content|truncatewords:20|safe}}
                                    {% else %}
                                        {{a.preview_text|safe}}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="article__read">
                            <a href="{{ a.get_absolute_url }}"><h2>Подробней</h2></a>
                        </div>
                    </article>
                    {% endfor %}
                    <ul class="pagination">
                        <li>
                            <a href="{{prev_page_url}}" {% if prev_page_url %} class="active_nav" {% endif %}>&laquo;</a>
                        </li>
                        {% for page in page_obj.paginator.page_range %}
                            {% if page_obj.number == page %}
                            <li>
                                <a href="?page={{page}}" class="active_number">{{page}}</a>
                            </li>
                            {% elif page > page_obj.number|add:-3 and page < page_obj.number|add:3 %}
                            <li>
                                <a href="?page={{page}}">{{page}}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                        <li>
                            <a href="{{next_page_url}}" {% if next_page_url %} class="active_nav" {% endif %}>&raquo;</a>
                        </li>
                    </ul>
                    </div>
                </div>
{% endblock %}