/*--------------------------------------------------------------
Eric Meyer's CSS Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------------------------------------------------------------
fonts
--------------------------------------------------------------*/
@font-face {
	font-family: 'Roboto-Bold';
	src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
	font-style: bold;
	font-weight: bold;
	}
@font-face {
	font-family: 'Roboto-Regular';
	src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
	font-style: bold;
	font-weight: bold;
	}
/*--------------------------------------------------------------
basic setting
--------------------------------------------------------------*/
body{
	font: 16px Roboto-Regular;
	color: #535353;
	line-height: 25px;

	background: url(../images/404.svg) no-repeat center bottom fixed;
	background-color: #f8f8f8;
	background-size: 100%;
}

h1 {
	font: 70px Roboto-Bold;
	color: #2e2e2e;
	margin-bottom: 25px;
}
h2{
	font: 20px Roboto-Bold;
	color: #2e2e2e;
	margin-bottom: 15px;
}

body,html{
	height: 100%;
	width: 100%;
}

.layout{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(161, 193, 200, 0.5);
	border-radius: 8px 8px 8px 8px;
	text-align: center;
	padding: 50px;
}
